//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 14 19:14:22 2020
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

